*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
paper/XCS229ii_final_paper.pdf
__pycache__
.ipynb_checkpoints
.idea
*.fdb_latexmk
paper/XCS229ii_final_paper.pdf
*.gz
*.aux
code/data/*
!code/data/augmentation
code/baseline/export
