*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
paper/XCS229ii_final_paper.pdf
__pycache__
.ipynb_checkpoints
.idea
*.fdb_latexmk
paper/XCS229ii_final_paper.pdf
*.gz
*.aux
code/data/*
!code/data/augmentation
code/experiments/export/**/*.*
!code/experiments/export/**/*.keep
code/figures
code/transformers/trans_u_net/export/*
!code/transformers/trans_u_net/export/.keep
code/transformers/trans_u_net/model/imagenet21k
code/transformers/model
model/TU_ISIC224
code/transformers/trans_u_net/models/imagenet21k
code/transformers/trans_u_net/lightning_logs
